* {
  margin: 0;
  padding: 0;
}

.Navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
    to right,
    #011638,
    white
  ); /* Gradient from #011638 to white */
  height: 10vh;
}

.main-date {
  color: white;
}

.day-date {
  color: white;
  font-size: 9px;
}

.date-day-box {
  color: white;
}

.search-bar {
  flex: 2;
  display: flex;
  align-items: center;

  background-color: white;
  padding: 5px 15px;
  border-radius: 25px;
  justify-content: center;
  max-width: 40%;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.search-bar:hover {
  background-color: #c3bebe;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.search-input {
  border: none;
  outline: none;
  background: transparent;
  color: black;
  padding: 5px 10px;
  font-size: 14px;
  width: 0;
  flex-grow: 1;
  transition: width 0.5s ease, padding 0.5s ease;
}

.search-input:focus {
  width: 100%;
  padding: 5px 20px;
}

.search-button {
  border: none;
  background: none;
  color: #4a8fe7;
  cursor: pointer;
  margin-left: 5px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.search-button:hover {
  transform: scale(1.2);
  color: #66aaff;
}

.current-location {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  border: none;
  background: none;
  font-size: 16px;
}

.current-location .fa-location-crosshairs {
  color: #4a8fe7;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid #4a8fe7;
  border-radius: 110px;
  padding: 4px;
}

@media (max-width: 768px) {
  .Navbar {
    flex-direction: row;
    height: auto;
    padding: 1vh 2vw;
  }

  .search-bar {
    max-width: 50%;
  }

  .search-input {
    font-size: 12px;
  }

  .current-location {
    justify-content: center;
  }

  .fa-location-crosshairs {
    font-size: 18px;
  }
}

@media (max-width: 508px) {
  .main-date {
    text-align: left;
    font-size: 10px;
  }

  .day-date {
    font-size: 7px;
  }
}

/* logo css */

.container {
  width: 60px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cloud {
  width: 60px;
}

.front {
  padding-top: 5px;
  margin-left: 2px;
  display: inline;
  position: absolute;
  z-index: 11;
  animation: clouds 8s infinite;
  animation-timing-function: ease-in-out;
}

.back {
  margin-top: -5px;
  margin-left: 30px;
  z-index: 12;
  animation: clouds 12s infinite;
  animation-timing-function: ease-in-out;
}

.right-front {
  width: 15px;
  height: 15px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  display: inline-block;
  margin-left: -3px;
  z-index: 5;
}

.left-front {
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  z-index: 5;
}

.right-back {
  width: 15px;
  height: 15px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  display: inline-block;
  margin-left: -3px;
  z-index: 5;
}

.left-back {
  width: 10px;
  height: 10px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  z-index: 5;
}

.sun {
  width: 30px;
  height: 30px;
  background: linear-gradient(to right, #fcbb04, #fffc00);
  border-radius: 15px;
  display: inline;
  position: absolute;
}

.sunshine {
  animation: sunshines 2s infinite;
}

@keyframes sunshines {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes clouds {
  0% {
    transform: translateX(1px);
  }

  50% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(1px);
  }
}

.right-front {
  width: 10px;
  height: 10px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  display: inline-block;
  margin-left: -3px;
  z-index: 5;
}

.left-front {
  width: 15px;
  height: 15px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  z-index: 5;
}

.right-back {
  width: 10px;
  height: 10px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  display: inline-block;
  margin-left: -3px;
  z-index: 5;
}

.left-back {
  width: 8px;
  height: 8px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  z-index: 5;
}

.right-front {
  width: 12px;
  height: 12px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  display: inline-block;
  position: relative;
  left: 5px;
  z-index: 5;
}

.left-front {
  width: 18px;
  height: 18px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  position: relative;
  left: 5px;
  z-index: 5;
}

.right-back {
  width: 12px;
  height: 12px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  display: inline-block;
  position: relative;
  left: 5px;
  z-index: 5;
}

.left-back {
  width: 10px;
  height: 10px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  position: relative;
  left: 5px;
  z-index: 5;
}
