.forecast-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  margin-left: 10px;
}

.forecast-box {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  min-width: 150px;
  width: 15vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  scroll-snap-align: start;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.forecast-box:hover {
  transform: scale(1.05);
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.forecast-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.forecast-today {
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 8px;
}

.forecast-img-text {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 8px;
}

.forecast-icon-center {
  font-size: 28px;
  color: #666;
}

.forecast-condition {
  font-size: 16px;
  color: #555;
}

.forecast-temp {
  font-size: 1.3rem;
  font-weight: bold;
  color: #333;
  color: #3444aacb;
}

.text-forecast {
  font-weight: 600;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .forecast-box {
    min-width: 120px;
    width: 40vw;
    height: 120px;
    background-color: white;
  }

  .forecast-icon-center {
    font-size: 22px;
  }

  .forecast-condition {
    font-size: 14px;
  }

  .forecast-temp {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .forecast-box {
    min-width: 120px;
    width: 40vw;
    height: 120px;
    background-color: white;
  }
  .text-forecast {
    display: none;
  }
}

.text-new {
  margin-left: 20px;
  font-weight: 700;
}
